---
---

@import "reset";
@import "main";

.default_title {
	background: #808080;
}
.post_title {
	background: #00007f;
}
.post_content_inner {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}